/*Theme Name:   Baby sister
Description:  Baby sister
Version:    1.0
Author:     INIT
Intégrateur:    ANDRIAMORIA Mahandrisoa Dera
*/
@charset "utf-8";
/* CSS Document */
.datetimepicker.dropdown-menu.showSurcharge{
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; 
  transition: inherit;
}

.form_date .form-control{
  background-color: #ffffff;
}

.form_date .input-group-addon{
  background-color: #217dbb;
  border-color: #1c699d;
  color: #ffffff;
}

.form_date.col-md-5{
   position: relative;
   left: 10px;
}
input[type="search"]{
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff!important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cm-menu-items li.open {
    position: relative;
    display: block;
    -webkit-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
}

.cm-submenu.open ul{
  position: static;
}
#cm-menu .cm-logo{
  background: none!important;
  color: #fff;
  font-family: arial;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  left: 18px;
  top: 15px;
}
.cm-flex h1{
  visibility: hidden;
}
textarea{
  resize:none;
}
#form-reglages .col-xs-5{
  padding-left: 0!important
}