{% block head %}
    {% include '@ChallengeProduit/Admin/Common/head.html.twig' %}
    <!-- styles -->
    {% block styles %}
    {% endblock %}
    <!-- / styles -->
{% endblock %}

{% block menu %}
    {% include '@ChallengeProduit/Admin/Common/menu.html.twig' %}
{% endblock %}

{% block header %}
    {% include '@ChallengeProduit/Admin/Common/header.html.twig' %}    
{% endblock %} 

<!-- content -->
{% block content %}
{% endblock %} 
<!-- / content -->


{% block scripts %}
    <script src="{{ asset('assets/js/lib/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.cookie.min.js') }}"></script>
    <script src="{{ asset('assets/js/fastclick.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/clearmin.min.js') }}"></script>
    <script src="{{ asset('assets/js/surcharge.js') }}"></script>
{% endblock %} 

{% block footer %}
<footer class="cm-footer"><span class="pull-right">&copy; Bocasay challenge sf 2018</span></footer>    
    </body>
</html>
{% endblock %} 
