<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-clearmin.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/roboto.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/material-design.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/small-n-flat.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}">
        <title>{% if page_tile is defined %}{{ page_tile }}{% else %}Admin{% endif %}</title>
        <base href="{{ app.request.schemeAndHttpHost }}">
        <script type="text/javascript">
            var delProduitUrl      = "{{ path('challenge_produit_suppression') }}";
            var listProduitUrl     = "{{ path('challenge_produit_adminProduitListe') }}"; 
			
            var delGenreUrl        = "{{ path('challenge_genre_suppression') }}";
            var listGenreUrl       = "{{ path('challenge_produit_adminGenreListe') }}"; 		

            var delTypesUrl  	   = "{{ path('challenge_types_suppression') }}";
            var listTypesUrl 	   = "{{ path('challenge_produit_adminTypesListe') }}"; 			
			
            var delFournisseurUrl  = "{{ path('challenge_fournisseur_suppression') }}";
            var listFournisseurUrl = "{{ path('challenge_produit_adminFournisseurListe') }}"; 	
			
            var delMarqueUrl  	   = "{{ path('challenge_marque_suppression') }}";
            var listMarqueUrl 	   = "{{ path('challenge_produit_adminMarqueListe') }}"; 	
        </script>        
    </head>
    <body class="cm-no-transition cm-1-navbar">