    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="{{ path('challenge_produit_adminProduitListe') }}" class="cm-logo">Admin</a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li class="cm-submenu {% if app.request.get('_route') in ['challenge_produit_adminProduitListe' , 'challenge_produit_ajout', 'challenge_produit_adminGenreListe', 'challenge_genre_ajout' , 'challenge_produit_adminTypesListe', 'challenge_types_ajout'] %}open{% endif %}">
                            <a class="sf-file-picture">Produits<span class="caret"></span></a>
                            <ul>
                                <li class="{% if app.request.get('_route') in ['challenge_produit_adminProduitListe' , 'challenge_produit_ajout'] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminProduitListe') }}">Les produits</a>
                                </li>                                
								<li class="{% if app.request.get('_route') in [ 'challenge_produit_adminGenreListe', 'challenge_genre_ajout'] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminGenreListe') }}">Les genres</a>
                                </li>                           
								<li class="{% if app.request.get('_route') in ['challenge_produit_adminTypesListe', 'challenge_types_ajout'] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminTypesListe') }}">Les types</a>
                                </li>                               
                            </ul>
                        </li>

                        <li class="cm-submenu {% if app.request.get('_route') in ['challenge_produit_adminFournisseurListe' , 'challenge_fournisseur_ajout', 'challenge_produit_adminMarqueListe', 'challenge_marque_ajout' ] %}open{% endif %}">
                            <a class="sf-profile">Fournisseurs<span class="caret"></span></a>
                            <ul>
                                <li class="{% if app.request.get('_route') in ['challenge_produit_adminFournisseurListe' , 'challenge_fournisseur_ajout' ] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminFournisseurListe') }}">Les fournisseurs</a>
                                </li>  
								<li class="{% if app.request.get('_route') in [ 'challenge_produit_adminMarqueListe', 'challenge_marque_ajout'] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminMarqueListe') }}">Les marques</a>
                                </li>  
                            </ul>
                        </li>
						<li class="cm-submenu {% if app.request.get('_route') in ['challenge_produit_adminCommandeListe' , 'challenge_produit_adminCommandeFiche' ] %}open{% endif %}">
                            <a class="md-apps">Commandes<span class="caret"></span></a>
                            <ul>
                                <li class="{% if app.request.get('_route') in ['challenge_produit_adminCommandeListe' , 'challenge_produit_adminCommandeDetail' ] %}active{% endif %}">
                                    <a href="{{ path('challenge_produit_adminCommandeListe') }}">Les commandes</a>
                                </li>  								
                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
