{% extends '@ChallengeCommande/Front/Layout/main.html.twig' %}
{% block content %}
    {% if oProduit.id is defined and oProduit.id > 0 %}  
    <div id="global">        
        <div class="container-fluid">
            <div class="panel panel-default ">
				<div class="panel-heading"><a  title="Voir le  panier" href="{{ path('challenge_commande_panier', { _iClientId : iClientId}) }}">Voir le  panier</a></div>
                <div class="panel-heading">{{oProduit.titre}}</div>
                <div class="panel-body">
                     <form data-toggle="validator" action="{{ path('challenge_commande_saveToCommande') }}" class="form-horizontal" role="form" id="form-login" novalidate="novalidate" method="post" enctype="multipart/form-data">
						<input type="hidden" name="iClientId" id="_iClientId" value="{{iClientId}}">
						<input type="hidden" name="iProduitId" id="iProduitId" value="{{oProduit.id}}">
                        <div class="form-group row">
                          <label for="description" class="col-sm-2 col-form-label">Description</label>
                          <div class="col-sm-10">
                            {{oProduit.description|nl2br}}
                          </div>
                        </div>
						
						<div class="form-group row">
                          <label for="prix" class="col-sm-2 col-form-label">Prix</label>
                          <div class="col-sm-10">
                            {{oProduit.prixTTC}}&euro;
                          </div>
                        </div>
						
						
						{% if oProduit.types.libelle is defined %}						
						<div class="form-group row">
                          <label for="types" class="col-sm-2 col-form-label">Types</label>
                          <div class="col-sm-10">
                            {{ oProduit.types.libelle }} 
                          </div>
                        </div>																	
						{%endif%}
						
						{% if oProduit.genre.libelle is defined %}						
						<div class="form-group row">
                          <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                          <div class="col-sm-10">
                            {{ oProduit.genre.libelle }} 
                          </div>
                        </div>																	
						{%endif%}
						
						{% if oProduit.marque.libelle is defined %}						
						<div class="form-group row">
                          <label for="marque" class="col-sm-2 col-form-label">Marque</label>
                          <div class="col-sm-10">
                            {{ oProduit.marque.libelle }} 
                          </div>
                        </div>																	
						{%endif%}

						<div class="form-group row">
                          <label for="prenom" class="col-sm-2 col-form-label">Disponibilité</label>
                          <div class="col-sm-3">
								{% if  oProduit.stock > 0 %} 
									<span class="btn-success" data-switch-color="success">En stock</span>({{oProduit.stock}} produits disponible en stock) 
								{%else%} 
									<span class="btn-danger" data-switch-color="danger">Stock epuisé </span>
								{%endif%}
                          </div>
                        </div>
						
						{% if  oProduit.stock > 0 %} 
						<hr />
							<div class="form-group row">
							  <label for="quantite" class="col-sm-2 col-form-label">Quantité</label>
							  <div class="col-sm-1">
								<input required type="number" min="1" max="{{oProduit.stock}}" width="80" class="form-control" name="iQuantite" id="quantite" value="{{iQuantite}}"> 
							  </div>
							</div>
							<div class="form-group row">
							  <label class="col-sm-2 col-form-label"></label>
							  <div class="col-sm-10"> 									
									<button type="submit" class="btn btn-primary">{%if bMaj == 1%}Mettre à jour la commande{%else%}Ajouter dans  le panier{%endif%}</button>
									<a class="kv-file-zoom btn btn-xs btn-default" title="Liste produit" href="{{ path('challenge_commande_listeProduit', { _iClientId : iClientId}) }}">
											Liste des produits
								    </a> 
							  </div>
							</div>						
						{%endif%}
                    </form>
                </div>
            </div>
        </div>
    </div>

{%  endif %}
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
{% endblock %}