{% extends '@ChallengeCommande/Front/Layout/main.html.twig' %}
{% block content %}
    {% if oProduit.id is defined and oProduit.id > 0 %}  {%  endif %}
    <div id="global">
        {% include '@ChallengeCommande/Front/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default ">
                <div class="panel-heading">Inscription Client</div>
                <div class="panel-body">
                    <form data-toggle="validator" action="{{ path('challenge_commande_saveInscription') }}" class="form-horizontal" role="form" id="form-login" novalidate="novalidate" method="post" enctype="multipart/form-data">

                       

                        <div class="form-group row">
                          <label for="prenom" class="col-sm-2 col-form-label">Nom </label>
                          <div class="col-sm-10">
                            <input required type="text" width="80" class="form-control" name="nom" id="nom" placeholder="Nom" value="">
                          </div>
                        </div>
						
						
						 <div class="form-group row">
                          <label for="titre" class="col-sm-2 col-form-label">Prenom </label>
                          <div class="col-sm-10">
                            <input required type="text" width="80" class="form-control" name="prenom" id="prenom" placeholder="Prenom" value="">
                          </div>
                        </div>
						
						<div class="form-group row">
						  <label for="adresse" class="col-sm-2 col-form-label">Adresse</label>
						  <div class="col-sm-10">
							<textarea class="form-control" rows="3" name="adresse" id="adresse" placeholder="Adresse" required></textarea>
						  </div>
						</div> 
						
						 <div class="form-group row">
                          <label for="email" class="col-sm-2 col-form-label">Email </label>
                          <div class="col-sm-10">
                            <input required type="email" width="80" class="form-control" name="email" id="email" placeholder="Email" value="">
                          </div>
                        </div>
						
						<div class="form-group row">
                          <label for="telephone" class="col-sm-2 col-form-label">Téléphone </label>
                          <div class="col-sm-10">
                            <input required type="number" width="80" class="form-control" name="telephone" id="telephone" placeholder="Telephone" value="">
                          </div>
                        </div>
						
						
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">                               
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
{% endblock %}