{% extends '@ChallengeCommande/Front/Layout/main.html.twig' %}
{% block content %}
    <div id="global">
        {% include '@ChallengeCommande/Front/Common/flash.html.twig' %}
		
        <div class="container-fluid">
            <div class="panel panel-default">
				<div class="panel-heading"><a  title="Voir le  panier" href="{{ path('challenge_commande_panier', { _iClientId : iClientId}) }}">Voir le  panier</a></div>
                <div class="panel-heading">Les produits</div>
                <div class="panel-body table-placeholder">                           
                    {% if aoProduit is defined and aoProduit|length > 0 %}
						<table class="table table-hover" style="margin-bottom:0">
							<thead>
								<tr>
									<th>Titre</th>
									<th>Prix TTC</th>
									<th>Type</th>
									<th>Genre</th>
									<th>Marque</th>	
									<th>Disponibilité</th>	
									
								</tr>
							</thead>
							<tbody id="produit">
							{% for oProduit in aoProduit %}                            
								<tr>
									<td>{{ oProduit.titre }}</td>
									<td>{{ oProduit.prixTTC }}</td>
									<td>{% if oProduit.types.libelle is defined %}{{ oProduit.types.libelle }} {%endif%}</td>
									<td>{% if oProduit.genre.libelle is defined %}{{ oProduit.genre.libelle }} {%endif%}</td>
									<td>{% if oProduit.marque.libelle is defined %}{{ oProduit.marque.libelle }} {%endif%}</td>	
									<td class="{% if  oProduit.stock > 0 %}success{%else%}danger{%endif%}">
									{% if  oProduit.stock > 0 %} 
										En stock
									{%else%} 
										Stock epuisé
									{%endif%}
									</td>
									<td class="col-md-1">
									<div class="file-actions">    
										
										<a class="kv-file-zoom btn btn-xs btn-info" title="Fiche produit" href="{{ path('challenge_commande_ficheProduit', { _iClientId : iClientId, _iProduitId : oProduit.id}) }}">
											Voir la fiche
										</a>                                     										
									</div>
								</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}                               
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block scripts %}
   {{ parent() }}
{% endblock %}