{% extends '@ChallengeCommande/Front/Layout/main.html.twig' %}
{% block content %}
    <div id="global">
        {% include '@ChallengeCommande/Front/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default">
				
                <div class="panel-heading">Liste des produits dans le panier</div>
                <div class="panel-body table-placeholder">      
					{% set fTotalCommande = 0 %}
                    {% if aoProduit is defined and aoProduit|length > 0 %}
						<table class="table table-hover" style="margin-bottom:0">
							<thead>
								<tr>
									<th>Titre</th>
									<th>Prix TTC</th>								
									<th>Quantité</th>
									<th>Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="produit">
							{% for tProduit in aoProduit %}   
								{%set fTotalL = tProduit.iQuantite* tProduit.oProduit.prixTTC %}
								{% set fTotalCommande = fTotalCommande + fTotalL %}
								<tr>
									<td>{{ tProduit.oProduit.titre }}</td>
									<td>{{ tProduit.oProduit.prixTTC }}</td>	
									<td>{{ tProduit.iQuantite }}</td>	
									<td>{{ fTotalL}}&euro;</td>
									<td><a class="kv-file-zoom btn btn-xs btn-info" title="Modifier la commande" href="{{ path('challenge_commande_ficheProduit', { _iClientId : iClientId, _iProduitId : tProduit.oProduit.id}) }}">
											Modifier la commande
										</a>  </td>
									<td class="col-md-1">
									<div class="file-actions">    

										<a  title="Supprimer le produit " href="{{ path('challenge_commande_supprimerProduitPanier', { _iClientId : iClientId, _iProduitId : tProduit.oProduit.id}) }}">
											<i class="glyphicon glyphicon-trash text-danger"></i>
										</a>										
									</div>
								</td>
								</tr>
							{% endfor %}
							</tbody>
							
							<tfoot>
								<tr>
									<th></th>
									<th></th>
									<th>Montant Total</th>
									<th>{{fTotalCommande}}&euro;</th>
									<th></th>
									<th></th>									
								</tr>
								<tr>
									<th><a class="kv-file-zoom btn btn-xs btn-default" title="Liste produit" href="{{ path('challenge_commande_listeProduit', { _iClientId : iClientId}) }}">Continuer la commande</a></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th><a class="kv-file-zoom btn btn-xs btn-success" title="Valider la commande" href="{{ path('challenge_commande_validerCommande', { _iClientId : iClientId}) }}">Valider la commande</a></th>
								</tr>
							</tfoot>
						</table>
					{%else%}
					Aucun produit commandé <a title="Liste produit" href="{{ path('challenge_commande_listeProduit', { _iClientId : iClientId}) }}">Commancer la commande</a>
					{% endif %}                               
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block scripts %}
   {{ parent() }}
{% endblock %}