<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-clearmin.min.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/roboto.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/material-design.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/small-n-flat.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}">
        <title>{% if page_tile is defined %}{{ page_tile }}{% else %}Front{% endif %}</title>
        <base href="{{ app.request.schemeAndHttpHost }}">
        <script type="text/javascript">            
        </script>        
    </head>
    <body class="cm-no-transition cm-1-navbar">