{% block head %}
    {% include '@ChallengeCommande/Front/Common/head.html.twig' %}
    <!-- styles -->
    {% block styles %}
    {% endblock %}
    <!-- / styles -->
{% endblock %}


{% block header %}
    {% include '@ChallengeCommande/Front/Common/header.html.twig' %}    
{% endblock %} 

<!-- content -->
{% block content %}
{% endblock %} 
<!-- / content -->


{% block scripts %}
    <script src="{{ asset('assets/js/lib/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.cookie.min.js') }}"></script>
    <script src="{{ asset('assets/js/fastclick.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/clearmin.min.js') }}"></script>
    <script src="{{ asset('assets/js/surcharge.js') }}"></script>
{% endblock %} 

{% block footer %}
    </body>
</html>
{% endblock %} 
