{% if aoMarque is defined and aoMarque|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>#</th>
                <th>Libelle</th>
				<th>Fournisseur</th>				
            </tr>
        </thead>
        <tbody id="produit">
        {% for oMarque in aoMarque %}                            
            <tr>
                <td>{{ oMarque.id }}</td>
                <td>{{ oMarque.libelle }}</td>
				<td>{% if oMarque.fournisseur.nom is defined %}{{ oMarque.fournisseur.nom }} {%endif%}</td>
                <td class="col-md-1">
                    <div class="file-actions">
                        <a class="kv-file-zoom btn btn-xs btn-default" title="Edit" href="{{ path('challenge_marque_ajout', { _iMarqueId : oMarque.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>                                     
                        <a class="deleteMarque kv-file-remove btn btn-xs btn-default" title="Remove" data-id="{{ oMarque.id }}" data-toggle="modal" data-target="#confRemMarque">
                            <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}