{% if aoGenre is defined and aoGenre|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>#</th>
                <th>Libellé</th>
            </tr>
        </thead>
        <tbody id="genre">
        {% for oGenre in aoGenre %}                            
            <tr>
                <td>{{ oGenre.id }}</td>
                <td>{{ oGenre.libelle }}</td>
                <td class="col-md-1">
                    <div class="file-actions">
                        <a class="kv-file-zoom btn btn-xs btn-default" title="Edit" href="{{ path('challenge_genre_ajout', { _iGenreId : oGenre.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>                                     
                        <a class="deleteGenre kv-file-remove btn btn-xs btn-default" title="Remove" data-id="{{ oGenre.id }}" data-toggle="modal" data-target="#confRemGenre">
                            <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}