{% if aoTypes is defined and aoTypes|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>#</th>
                <th>Libellé</th>
            </tr>
        </thead>
        <tbody id="types">
        {% for oTypes in aoTypes %}                            
            <tr>
                <td>{{ oTypes.id }}</td>
                <td>{{ oTypes.libelle }}</td>
                <td class="col-md-1">
                    <div class="file-actions">
                        <a class="kv-file-zoom btn btn-xs btn-default" title="Edit" href="{{ path('challenge_types_ajout', { _iTypesId : oTypes.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>                                     
                        <a class="deleteTypes kv-file-remove btn btn-xs btn-default" title="Remove" data-id="{{ oTypes.id }}" data-toggle="modal" data-target="#confRemTypes">
                            <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}