{% if aoProduit is defined and aoProduit|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Prix TTC</th>
				<th>Stock</th>
                <th>Type</th>
                <th>Genre</th>
				<th>Marque</th>
				<th>Fournisseur</th>				
            </tr>
        </thead>
        <tbody id="produit">
        {% for oProduit in aoProduit %}                            
            <tr>
                <td>{{ oProduit.id }}</td>
                <td>{{ oProduit.titre }}</td>
                <td>{{ oProduit.prixTTC }}</td>
                <td>{{ oProduit.stock }}</td>
				<td>{% if oProduit.types.libelle is defined %}{{ oProduit.types.libelle }} {%endif%}</td>
				<td>{% if oProduit.genre.libelle is defined %}{{ oProduit.genre.libelle }} {%endif%}</td>
				<td>{% if oProduit.marque.libelle is defined %}{{ oProduit.marque.libelle }} {%endif%}</td>
				<td>{% if oProduit.marque.fournisseur.nom is defined %}{{ oProduit.marque.fournisseur.nom }} {%endif%}</td>
                <td class="col-md-1">
                    <div class="file-actions">
                        <a class="kv-file-zoom btn btn-xs btn-default" title="Edit" href="{{ path('challenge_produit_ajout', { _iProduitId : oProduit.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>                                     
                        <a class="deleteProduit kv-file-remove btn btn-xs btn-default" title="Remove" data-id="{{ oProduit.id }}" data-toggle="modal" data-target="#confRemProduit">
                            <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}