{% if aoCommande is defined and aoCommande|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Client</th>
				<th>Email</th>
                <th>Montant total</th>                			
            </tr>
        </thead>
        <tbody id="produit">
        {% for oCommande in aoCommande %}                            
            <tr>
                <td><a href="{{ path('challenge_produit_adminCommandeDetail', { _iCommandeId : oCommande.id}) }}">#C{{ oCommande.id }}</a></td>
                <td>{{ oCommande.date.date|date("d/m/Y H:i:s") }}</td>
                <td>{{ oCommande.client.prenom }} {{ oCommande.client.nom }}</td>
                <td>{{ oCommande.client.email }}</td>
				<td>{{ oCommande.montantTotal }}</td>				               
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}