{% if aoFournisseur is defined and aoFournisseur|length > 0 %}
    <table class="table table-hover" style="margin-bottom:0">
        <thead>
            <tr>
                <th>#</th>
                <th>Libellé</th>
            </tr>
        </thead>
        <tbody id="fournisseur">
        {% for oFournisseur in aoFournisseur %}                            
            <tr>
                <td>{{ oFournisseur.id }}</td>
                <td>{{ oFournisseur.nom }}</td>
                <td class="col-md-1">
                    <div class="file-actions">
                        <a class="kv-file-zoom btn btn-xs btn-default" title="Edit" href="{{ path('challenge_fournisseur_ajout', { _iFournisseurId : oFournisseur.id }) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>                                     
                        <a class="deleteFournisseur kv-file-remove btn btn-xs btn-default" title="Remove" data-id="{{ oFournisseur.id }}" data-toggle="modal" data-target="#confRemFournisseur">
                            <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}