{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    {% if oGenre.id is defined and oGenre.id > 0 %}  {%  endif %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default ">
                <div class="panel-heading"> {% if oGenre.id is defined and oGenre.id > 0 %} Modification {% else %} Ajout {% endif %}genre</div>
                <div class="panel-body">
                    <form data-toggle="validator" action="{{ path('challenge_genre_save') }}" class="form-horizontal" role="form" id="form-login" novalidate="novalidate" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="_iGenreId" id="_iGenreId" value="{% if oGenre.id is defined and oGenre.id > 0 %}{{ oGenre.id }}{% endif %}">

                        <div class="form-group row">
                          <label for="libelle" class="col-sm-2 col-form-label">Libellé </label>
                          <div class="col-sm-10">
                            <input required type="text" width="80" class="form-control" name="libelle" id="libelle" placeholder="Libellé" value="{% if oGenre.libelle is defined and oGenre.libelle!= '' %}{{ oGenre.libelle }}{% endif %}">
                          </div>
                        </div>
						
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                                <button type="reset" class="btn btn-default cancel">Annuler</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
    <script type="text/javascript">
        $('.cancel').on('click', function(){
            document.location.href = "{{ path('challenge_produit_adminGenreListe') }}";
        });
    </script>
{% endblock %}