{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    {% if oMarque.id is defined and oMarque.id > 0 %}  {%  endif %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default ">
                <div class="panel-heading"> {% if oMarque.id is defined and oMarque.id > 0 %} Modification {% else %} Ajout {% endif %}marque</div>
                <div class="panel-body">
                    <form data-toggle="validator" action="{{ path('challenge_marque_save') }}" class="form-horizontal" role="form" id="form-login" novalidate="novalidate" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="_iMarqueId" id="_iMarqueId" value="{% if oMarque.id is defined and oMarque.id > 0 %}{{ oMarque.id }}{% endif %}">

                        <div class="form-group row">
                          <label for="libelle" class="col-sm-2 col-form-label">Libelle </label>
                          <div class="col-sm-10">
                            <input required type="text" width="80" class="form-control" name="libelle" id="libelle" placeholder="Marque" value="{% if oMarque.libelle is defined and oMarque.libelle!= '' %}{{ oMarque.libelle }}{% endif %}">
                          </div>
                        </div>
						
						<div class="form-group row">
                          <label for="stock" class="col-sm-2 col-form-label">Fournisseur </label>
                          <div class="col-sm-10">
                           <select data-width="100%" class="selectpicker" name="fournisseurId" id="fournisseurId" >
							<option value="">Choisir le fournisseur</option>
						   {% if aoFournisseur is defined and aoFournisseur|length > 0 %}
						     {% for oFournisseur in aoFournisseur %}
							  <option value="{{ oFournisseur.id }}" {% if oMarque.fournisseur.id is defined and oMarque.fournisseur.id == oFournisseur.id %}selected{%endif%} >{{ oFournisseur.nom }}</option>
							 {% endfor%}
						   {% endif %}
						   </select>
                          </div>
                        </div>
                   
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                                <button type="reset" class="btn btn-default cancel">Annuler</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
    <script type="text/javascript">
        $('.cancel').on('click', function(){
            document.location.href = "{{ path('challenge_produit_adminMarqueListe') }}";
        });
    </script>
{% endblock %}