{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    {% if oProduit.id is defined and oProduit.id > 0 %}  {%  endif %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default ">
                <div class="panel-heading"> {% if oProduit.id is defined and oProduit.id > 0 %} Modification {% else %} Ajout {% endif %}produit</div>
                <div class="panel-body">
                    <form data-toggle="validator" action="{{ path('challenge_produit_save') }}" class="form-horizontal" role="form" id="form-login" novalidate="novalidate" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="_iProduitId" id="_iProduitId" value="{% if oProduit.id is defined and oProduit.id > 0 %}{{ oProduit.id }}{% endif %}">

                        <div class="form-group row">
                          <label for="titre" class="col-sm-2 col-form-label">Titre </label>
                          <div class="col-sm-10">
                            <input required type="text" width="80" class="form-control" name="titre" id="titre" placeholder="Titre" value="{% if oProduit.titre is defined and oProduit.titre!= '' %}{{ oProduit.titre }}{% endif %}">
                          </div>
                        </div>
						<div class="form-group row">
						  <label for="description" class="col-sm-2 col-form-label">Description</label>
						  <div class="col-sm-10">
							<textarea class="form-control" rows="5" name="description" id="description" placeholder="Description">{% if oProduit.description is defined and oProduit.description!= '' %} {{ oProduit.description }} {% endif %}</textarea>
						  </div>
						</div> 
						
						<div class="form-group row">
                          <label for="prixTTC" class="col-sm-2 col-form-label">Prix TTC </label>
                          <div class="col-sm-10">
                            <input required type="numeric" width="80" class="form-control" name="prixTTC" id="prixTTC" placeholder="prix TTC" value="{% if oProduit.prixTTC is defined and oProduit.prixTTC!= '' %}{{ oProduit.prixTTC }}{% endif %}">
                          </div>
                        </div>
						
						<div class="form-group row">
                          <label for="stock" class="col-sm-2 col-form-label">Stock </label>
                          <div class="col-sm-10">
                            <input required  type="number" width="80" class="form-control" name="stock" id="stock" placeholder="Stock" value="{% if oProduit.stock is defined and oProduit.stock!= '' %}{{ oProduit.stock }}{% endif %}">
                          </div>
                        </div>
						
						<div class="form-group row">
                          <label for="stock" class="col-sm-2 col-form-label">Type </label>
                          <div class="col-sm-10">
                           <select data-width="100%" class="selectpicker" name="typesId" id="typesId" >
							<option value="">Choisir le type</option>
						   {% if aoTypes is defined and aoTypes|length > 0 %}
						     {% for oTypes in aoTypes %}
							  <option value="{{ oTypes.id }}" {% if oProduit.types.id is defined and oProduit.types.id == oTypes.id %}selected{%endif%} >{{ oTypes.libelle }}</option>
							 {% endfor%}
						   {% endif %}
						   </select>
                          </div>
                        </div>
                        
						<div class="form-group row">
                          <label for="stock" class="col-sm-2 col-form-label">Genre </label>
                          <div class="col-sm-10">
                           <select data-width="100%" class="selectpicker" name="genreId" id="genreId">
							<option value="">Choisir le genre</option>
						   {% if aoGenre is defined and aoGenre|length > 0 %}
						     {% for oGenre in aoGenre %}
							  <option value="{{ oGenre.id }}" {% if oProduit.genre.id is defined and oProduit.genre.id == oGenre.id %}selected{%endif%} >{{ oGenre.libelle }}</option>
							 {% endfor%}
						   {% endif %}
						   </select>
                          </div>
                        </div>
						
						
						                        
						<div class="form-group row">
                          <label for="stock" class="col-sm-2 col-form-label">Marque </label>
                          <div class="col-sm-10">
                           <select data-width="100%" class="selectpicker" name="marqueId" id="marqueId">
							<option value="">Choisir le marque</option>
						   {% if aoMarque is defined and aoMarque|length > 0 %}
						     {% for oMarque in aoMarque %}
							  <option value="{{ oMarque.id }}" {% if oProduit.marque.id is defined and oProduit.marque.id == oMarque.id %}selected{%endif%} >{{ oMarque.libelle }}</option>
							 {% endfor%}
						   {% endif %}
						   </select>
                          </div>
                        </div>
						
						
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                                <button type="reset" class="btn btn-default cancel">Annuler</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
    <script type="text/javascript">
        $('.cancel').on('click', function(){
            document.location.href = "{{ path('challenge_produit_adminProduitListe') }}";
        });
    </script>
{% endblock %}