{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    {% if oProduit.id is defined and oProduit.id > 0 %}  {%  endif %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default ">
                <div class="panel-heading">Détail de la commande #C{{oCommande.id}}</div>
                <div class="panel-body">
                    
                        <div class="form-group row">
                          <label for="date" class="col-sm-2 col-form-label">Date </label>
                          <div class="col-sm-10">
                            {{ oCommande.date.date|date("d/m/Y H:i:s") }}
                          </div>
                        </div>
						<div class="form-group row">
						  <label for="client" class="col-sm-2 col-form-label">Client</label>
						  <div class="col-sm-10">
							{{ oCommande.client.prenom }} {{ oCommande.client.nom }}
						  </div>
						</div> 
						
						<div class="form-group row">
                          <label for="prixTTC" class="col-sm-2 col-form-label">Email </label>
                          <div class="col-sm-10">
                           {{ oCommande.client.email }}
                          </div>
                        </div>						
					
                </div>
            </div>
        </div>
		{% if oCommande.produitCommande is defined and oCommande.produitCommande|length > 0 %}
		<div class="container-fluid">
            <div class="panel panel-default">
				
				<div class="panel-heading">Les produits</div>
					<div class="panel-body table-placeholder">     
						<table class="table table-hover" style="margin-bottom:0">
							<thead>
								<tr>
									<th>Produit</th>
									<th>Quantité</th>
									<th>Prix Unitaire</th>
									<th>Montant</th>
															
								</tr>
							</thead>
							<tbody id="produit">
							{% for oProduitCommande in oCommande.produitCommande %}   
									{%set fMontantL  = oProduitCommande.quantite*oProduitCommande.quantite %}
								<tr>
									<td>{{oProduitCommande.produit.titre}}</td>
									<td>{{ oProduitCommande.quantite }}</td>
									<td>{{ oProduitCommande.prixUnitaire }}&euro;</td>									
									<td>{{ fMontantL }}&euro;</td>				               
								</tr>
								
							{% endfor %}
							</tbody>				
							<tfoot>
							<tr>
								<th></th>
								<th></th>
								<th>Montant Total</th>
								<th>{{oCommande.montantTotal}}&euro;</th>													
							</tr>
							</tfoot>
						</table>
				</div>
            </div>
        </div>
    </div> 
		{% endif %}
    </div>
{% endblock %}

{% block styles %}
    <link href="{{ asset('assets/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/surcharge.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-select.min.css') }}"> 		
{% endblock %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('assets/js/validator.js') }}"></script> 
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}" type="text/javascript"></script>    
{% endblock %}