{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">Les commandes</div>
                <div class="panel-body table-placeholder">                    
                    {% include '@ChallengeProduit/Admin/Portion/tableCommande.html.twig' with { 'aoCommande' : aoCommande } %}                                
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}
{% block scripts %}
   {{ parent() }}
   <script src="{{ asset('assets/js/challenge/produit.js') }}"></script>  
{% endblock %}