{% extends '@ChallengeProduit/Admin/Layout/main.html.twig' %}
{% block content %}
    <div id="global">
        {% include '@ChallengeProduit/Admin/Common/flash.html.twig' %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">Les marques</div>
                <div class="panel-body table-placeholder">
                    <a class="btn btn-sm btn-info" href="{{ path('challenge_marque_ajout') }}"> Nouveau </a>          
                    {% include '@ChallengeProduit/Admin/Portion/tableMarque.html.twig' with { 'aoMarque' : aoMarque } %}                                
                </div>
            </div>
        </div>
    </div>
    <div id="confRemMarque" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation suppression</h4>
                </div>
                <div class="modal-body">
                    <h4 id="text-in-a-modal">
                        Êtes-vous sur de vouloir supprimer le marque?
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="confirmRmvMarque btn btn-primary" data-id="">Confirmer</button>
                </div>
            </div>
        </div>
    </div>      
{% endblock %}
{% block scripts %}
   {{ parent() }}
   <script src="{{ asset('assets/js/challenge/marque.js') }}"></script>  
{% endblock %}